body{
    background-color: #353131;
    position:fixed;
    user-select: none;
}

img{
    -webkit-user-drag: none;
}

#gringotsBackground{
    top: 174px;
    opacity: 45%;
    height: 650px;
    position: fixed;
}

button{
    transition: transform 200ms;
}

#leftDiv{
    left: 0;
    position: fixed;
}

#middleDiv{
    background-color: #353131;
    border: solid 4px rgba(150, 139, 77);
    position: fixed;
    margin-left: 500px;
}

#rightDiv{
    margin-top: 10px;
    right: 0;
    color: black;
    position: fixed;
}

#pageTitle{
    background-color: rgba(204, 112, 215, 0.19);
    border-radius: 10px;
    font-size: 23px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
    padding: 4px 75px;
    top: -50px;
    color: white;
    position: fixed;
}

#editIcon{
    position: fixed;
    margin-top: 48px;
    cursor: pointer;
}

#inputTitle{
    text-align: center;
    width: 200px;
    font-size: 18px;
    border-radius: 7px;
    margin-bottom: 10px
}

#options{
    background-color: rgba(76, 59, 134, 0.75);
    padding: 12px;
    border-bottom: solid 4px rgba(150, 139, 77);
    text-align: center;
}
#saveButton{
    text-align: center;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 18px;
    margin-right: 3px;
    z-index: 1;
}
#gameStats{
    text-align: center;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 18px;
    margin-right: 3px;
    z-index: 1;
}
#info{
    text-align: center;
    border-radius: 10px;
    padding: 12px 31px;
    font-size: 18px;
    margin-right: 3px;
    z-index: 1;
}
#resetButton{
    text-align: center;
    border-radius: 10px;
    padding: 12px 22.5px;
    font-size: 18px;
    z-index: 1;
}

#middleUpgradeDiv{
    overflow-y: auto;
    overflow-x: hidden;
}

#upgradeContainer{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.Upgrades{
    margin: 5px;
    height: 85px;
    width: 85px;
    align-items: center;
    display: none;
    justify-content: center;
    transition: transform 300ms;
    background: transparent;
    border: rgb(189, 168, 32, 0.75) 3px solid;
}

#numberOfGalleon{
    background-color: rgba(204, 112, 215, 0.19);
    color: ghostwhite;
    text-align: center;
    font-size: 24px;
    height: 60px;
    width: 446px;
    padding: 1px 30px 10px 30px;
    margin-top: 95px;
    position: relative;
}

#Galleon{
    display: flex;
    width: 506px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    color: ghostwhite;
    margin-top: 75px;
}

#galleonPicture{
    border-radius: 5000px;
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.75));
    cursor: pointer;
    transition: 135ms;
}

#galleonPicture:hover{
    transform: scale(105%);
}

#galleonPicture:active{
    transform: scale(97%);
}

#galleonPerSecond{
    width: 506px;
    justify-content: center;
    top:215px;
    text-align: center;
    color: white;
    position: fixed;
    z-index: 1;
}

/*Store Items*/

#StoreWizards{
    overflow-y: scroll;
    overflow-x: hidden;
    float: right;
}

#StoreTitle{
    color: White;
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}

/*Wizards*/
.wizard {
    background-color: white;
    border: solid white;
    height: 100px;
    width: 385px;
    transition: transform 250ms;
    margin-top: 25px;
}

/*Levels*/
#muggleLevel,
#goblinLevel,
#dobbyLevel,
#hagridLevel,
#trelawneyLevel,
#lupinLevel,
#mcGonagallLevel,
#snapeLevel,
#ronLevel,
#hermioneLevel,
#dumbledoreLevel,
#harryLevel,
#voldemortLevel
{
    font-size: 28px;
    display: block;
    margin-top: 35px;
    margin-left: 150px;
}

/*Costs*/
#muggleCost,
#goblinCost,
#dobbyCost,
#hagridCost,
#trelawneyCost,
#lupinCost,
#mcGonagallCost,
#snapeCost,
#ronCost,
#hermioneCost,
#dumbledoreCost,
#harryCost,
#voldemortCost
{
    font-weight: bold;
    font-size: 17px;
    margin-top: -30px;
    margin-left: 240px;
    margin-right: 10px;
}

/*Hover*/
#muggle:hover,
#goblin:hover,
#dobby:hover,
#hagrid:hover,
#trelawney:hover,
#lupin:hover,
#mcGonagall:hover,
#snape:hover,
#ron:hover,
#hermione:hover,
#dumbledore:hover,
#harry:hover,
#voldemort:hover
{
    background-color: tan;
    color: white;
    cursor: pointer;
    box-shadow: black 3.5px 8px 10px;
    transform:  translateY(-5px);
}

button:hover{
    background-color: tan;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.65) 2px 4px 12px;
    transform: translateY(-1.5px);
}

.Upgrades:hover{
    transform: translateY(-5px);
    background-color: rgba(210, 180, 140, 0.85);
    color: white;
    cursor: pointer;
    box-shadow: black 2px 6px 8px;
}

#pageTitle:hover{
    cursor: pointer;
    text-shadow: white 0 0 15px;
}

#editIcon:hover{
    filter: drop-shadow(0px 0px 7px darkblue);

}

#upgradeInfo{
    background: rgba(0,0,0,0.95);
    border: 2px solid rgba(128, 128, 128, 0.75);
    padding-left: 25px;
    padding-right: 25px;
    z-index: 1;
    color: white;
    text-align: left;
    width: 300px;
    position: absolute;
    display: none;
}
#wizardStats{
    background-color: black;
    border: 2px solid rgba(128, 128, 128, 0.75);
    font-size: 16px;
    color: white;
    opacity: 92%;
    z-index: 1;
    width: 375px;
    text-align: left;
    padding-right: 15px;
    position: absolute;
    display: none;
}


/*Hidden Divs*/
#verifyReset,
#verifyReset2{
    border: 3px solid rgba(128, 128, 128, 0.75);
    font-size: 22px;
    color: white;
    background-color: black;
    width: fit-content;
    text-align: center;
    z-index: 1;
    left: 75px;
    right: 0;
    margin-top: 30px;
    margin-inline: auto;
    padding: 15px 45px 35px;

    position: fixed;
    display: none;
}
#verifyReset2{
    padding: 15px 132px 35px;
}

#verifyReset2 button,
#verifyReset button{
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
}

#saveVerified,
#resetVerified{
    border: 3px solid rgba(128, 128, 128, 0.75);
    font-size: 20px;
    color: white;
    background-color: black;
    opacity: 95%;
    width: fit-content;
    text-align: center;
    left: 63px;
    right: 0;
    z-index: 1;
    bottom: 8px;
    margin-inline: auto;
    padding: 32.5px 40px;
    position: fixed;
    display: none;
}

#gameStatsBar,
#gameDescription{
    overflow-y: auto;
    border: 3px solid rgba(150, 139, 77, 0.85);
    font-size: 21px;
    color: white;
    background-color: #353131;
    text-align: center;
    margin-top: 10px;
    padding: 45px 55px;
    left: 509px;
    z-index: -1;
    position: fixed;
    display: none;
}

#changeTitle{
    border: 3px solid rgba(128, 128, 128, 0.75);
    border-radius: 6px;
    font-size: 22px;
    color: black;
    background-color: lightgray;
    width: fit-content;
    text-align: center;
    z-index: 1;
    left: 75px;
    right: 0;
    margin-top: 200px;
    margin-inline: auto;
    padding: 15px 45px 35px;

    position: fixed;
    display: none;
}